* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  height: 10vh;
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(5, 21, 50);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}
.inputContainer {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#button:hover {
  cursor: pointer;
  background-color: rgba(249, 12, 12, 0.847);
  color: white;
}
#input {
  height: 6vh;
  width: 30%;
  border-radius: 16px;
  outline: none;
  padding: 16px;
  font-size: 1.2rem;
  border: 1px solid black;
}
#text{
  height: 4vh;
  width: 15%;
  margin: 2%;
  border-radius: 16px;
  outline: none;
  padding: 16px;
  font-size: 1.2rem;
  border: 1px solid black;
}
#button {
  width: 5%;
  border-radius: 16px;
  outline: none;
  margin-left: 2%;
  font-size: 1.2rem;
  padding: 0.5%;
  border: 0px;
  background-color: rgb(94, 10, 239);
}

#boxContainer {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.square {
  height: 100px;
  width: 100px;
  margin: 10px;

  background-color: lightsalmon;
}

.circle {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
  background-color: lightsalmon;
}