*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#nav{
    background-color: black;
    width: 100%;
    height: 70px;
}
#abhi{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 25px;
    font-size: 18px;
    /* margin-right: 30%; */

}
#a{
    /* margin-left: 10%; */
    display: flex;
    height: 20px;
    width: 50px;
}
#b{
    /* margin-left: 10%; */
    display: flex;
    height: 20px;
    width: 40px;
}
#c{
    /* margin-left: 10%; */
    display: flex;
    height: 20px;
    width: 40px;
}
#nab{
    background-color: rgb(37, 35, 35);
    width: 100%;
    height: 40px;
    color: white;
    top: 8%;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    position: relative;
    top: 4%;
    width: 100%;
    height: 100%;
   
}
#f{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 20px;
}
 #h{
    background-color: blue;
    padding: 4px;
    border-radius: 30px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 15px;

}
#v{
    background-color: rgb(38, 38, 38);
    width: 100%;
    height: 950px;
    position: relative;
    
}
.v{
    margin-left: 8%;
    position:absolute;
    font-size: 55px;
    color:white;
    /* padding: 80px; */
    margin-top: 5%;
}
.abhi1{
    width: 85%;
    height: 75%;
    background-color:rgb(38, 38, 38);;
    margin-left: 130px;
    margin-top: 160px;
    position: absolute;
    image-rendering: fixed;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px 10px rgb(192, 192, 192); */
}
.abhi1 img{
    border-radius: 20px;
    position:relative;
    box-shadow: 0px 0px 5px 4px rgb(93, 92, 92);
}
#ab{
    color: white;
    font-size: 25px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
