*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  html,body{
            width: 100%;
            height: 100%;
    }
        .nav{
            height: 100%;
            width: 100%;
            position:fixed;
           
        }
        .navRoot{
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
            height: 10vh;
            width: 100vw;
            background-color: white;
            color: darkgrey;
        }
        .BKlogo{
            height: 7vh;
            width: 4.5vw;
            margin-left: 2%;
            display: flex;
             /* justify-content: flex-start;  */
        }
        .searchlogo{
            height: 2vh;
            width: 0.5vw;
            display: flex;
            margin-left: 6%;
            /* justify-content: flex-end;  */
        }
        .cartlogo{
            height: 2.5vh;
            width: 0.5vw;
            display: flex;
            margin-left: 9%;
        }
        .loginlogo{
            height: 2.5vh;
            width: 0.5vw;
            display: flex;
            margin-left: 10%;
        }
        .percenteglogo{
            height: 2.5vh;
            width: 0.5vw;
            display: flex;
            margin-left: 12%;
            font-size: 17px;

            
        }
        #hhhh{
            rotate: 90deg;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Nearbystores{
            font-size: 17px;
            height: 3vh;
            width: 0.7vw;
           margin-left: 1%;
            display: flex;
        }
        .divein{
            color: darkgoldenrod;
            /* margin-left: 2%; */
        }
        .location{
            background-color: transparent;
            border-color: none;
            height: 35px;
            width: 300px;
            border-radius: 25px;
            margin-left: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container{
            display: flex;
            height: 317px;
            width: 200px;
            margin-top: 50px;
           
            

        }
        .Ourmenu{
            margin-top: 45px;
            margin-left: 100px;
            font-size: 40px;
            font-family: monospace;
        }
        .seeall{
            display: flex;
            align-items: end;
            font-size: 20px;
            color: darkgoldenrod;
            justify-content: end;
            margin-right: 100px;
            margin-top: -33px;
        }
        .container2{
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
        .Explorefullmenu{
            
            font-size: 30px;
            margin-top: 20px;
            margin-left: 585px;
            padding-left: 40px;
            padding-top: 10px;
            height: 50px;
            width: 400px;
            background-color : brown ;
            color: white;
            text-transform: uppercase;
            border-radius: 7%;
        
        }
        .container4{
              display: flex;
              margin-top: 70px;
              margin-left: 180px;
              margin-right: 80px;
              height: 300px;
              width: 500px;
              
        }
        .disclamier{
            display: flex;
            justify-content: center;
            margin-top: 80px;
        }
        .footer{
            display: flex;
            height: 500px ;
            width:  1525px;
            background-color: rgb(46, 45, 45);
        }
       .footer1{
         color: azure;
         margin-top: 100px;
         margin-left: 100px;
       }
       .footer2{
            color: azure;
            margin-top: 100px;
            margin-left: 150px;
       }
       .footer3{
           color: azure;
            margin-top: 100px;
            margin-left: 170px;
       }
       .footer4{
           color: azure;
            margin-top: 100px;
            margin-left: 220px;
       }
       .footer5{
         color: azure;
            margin-top: 100px;
            margin-left: 220px;
       }
       .downloadourapp{
          display: flex;
          justify-content: space-between;
          margin-right: 50px;
       }
       
       .bhai{
        rotate: 90deg;
        height: 800px;
        
        /* margin-left: 25%; */
       }
       .BKlogo2{
           height: 7vh;
            width: 4.5vw;
           display: flex;
           justify-content: end; 
           margin-top: 420px;
           margin-left: -1480px;
           
       }
       .footertext{
           display: flex;
           justify-content: center;
           align-items: center;
           color: aliceblue;
           margin-top: 400px;
           margin-left: 480px;
       }
       .footerimage{
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-left: 400px;
          margin-bottom: 40px;
          justify-content: space-evenly;

       }
    #abhi11{
        margin-left: 4%;
    }
    .switch{
       margin-left: 2%;
    }